<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Редактировать вакансию</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Редактировать вакансию</h1>
        <form action="/edit_vacancy/{{ vacancy._id }}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Название вакансии:</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ vacancy.title }}" required>
            </div>
            <div class="mb-3">
                <label for="experience" class="form-label">Релевантный опыт:</label>
                <input type="text" id="experience" name="experience" class="form-control" value="{{ vacancy.experience }}" required>
            </div>
            <div class="mb-3">
                <label for="skills" class="form-label">Навыки и компетенции:</label>
                <input type="text" id="skills" name="skills" class="form-control" value="{{ vacancy.skills }}" required>
            </div>
            <div class="mb-3">
                <label for="education" class="form-label">Образование и сертификация:</label>
                <input type="text" id="education" name="education" class="form-control" value="{{ vacancy.education }}" required>
            </div>
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
        </form>
    </div>
</body>
</html>
